<h2>Access your accounts</h2>
<form [formGroup]="loginForm" (ngSubmit)="submitForm()">
  <mz-input-container>
    <input mz-input
           id="username"
           formControlName="username"
           label="Username"
           length="150"
           validate="true"
           [disabled]="isSubmitting"
           type="text"/>
  </mz-input-container>
  <mz-input-container>
    <input mz-input
           id="password"
           formControlName="password"
           label="Password"
           length="150"
           [disabled]="isSubmitting"
           type="password"/>
  </mz-input-container>
  <mz-input-container>
    <button mz-button [disabled]="!loginForm.valid" type="submit">
      Login!
    </button>
  </mz-input-container>
</form>
