<div class="row" *appShowLoggedIn="true">
  <div class="col" *ngFor="let account of accounts">
    <mz-card
      class="small col"
      [hoverable]="true">
      <mz-card-title>
        {{account.institution}}
      </mz-card-title>
      <mz-card-content>
        <div class="row">
          <div class="col">
            Id:
          </div>
          <div class="col">
            {{account.id}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            IBAN:
          </div>
          <div class="col">
            {{account.iban}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            Balance:
          </div>
          <div class="col">
            {{account.amount}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            Currency:
          </div>
          <div class="col">
            {{account.currency}}
          </div>
        </div>
        <div class="row">
          <div class="col">Interest Rate:</div>
          <div class="col">{{account.interestRate}}</div>
        </div>
      </mz-card-content>
    </mz-card>
  </div>

  <div class="col" style="background-color: transparent;">
    <div style="padding-top: 120px; padding-left: 30px;">
      <a mz-button
         routerLink="/account/add"
         [float]="'true'"
         [large]="'true'">
        <i mz-icon
           [align]="'right'"
           [icon]="'add'"
           [size]="'medium'">
        </i>
      </a>
    </div>
  </div>
</div>





