<h2 *appShowLoggedIn="false" style="color: #9e9e9e; height: 400px;">

</h2>

<div class="row" *appShowLoggedIn="false">
  <div class="col s12 m3">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Making Banking Easy</span>
        <p>Create bank accounts everywhere within seconds. Access to a big marketplace of financial products
          (bank accounts, e-trading solutions, currencies changers). There is no paperwork and no waiting
          is needed.</p>
      </div>
    </div>
  </div>

  <div class="col s12 m3">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Not More Hassle With Accounts</span>
        <p>Manage all your account over one simple interface. Open or close them at your will. And easily transfer
        money between them. Immediately get access to the most recent products that the financial world has to offer.</p>
      </div>
    </div>
  </div>

  <div class="col s12 m3">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">One Card For Everything</span>
        <p>Just one credit card to access all your accounts and the possibility to manage your money in seconds. With
        our simple App you can easily change between the linked accounts and currencies.</p>
      </div>
    </div>
  </div>

  <div class="col s12 m3">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Profit From Our Growing Community</span>
        <p>Profit from special offers from our partners. The more the community grows the better deals you get.</p>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col s12 m12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Want to give it a try?</span>
          <p>Register online. Your ID will be verified using our App our by one of our partners. Within minutes
          you will be ready to go.</p>
        </div>
        <div class="card-action">
          <a routerLink="/login" routerLinkActive="active" *appShowLoggedIn="false">Register Now</a>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row" *appShowLoggedIn="true">
  <div class="row">

    <div class="col s12 m2">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Accounts</span>
        </div>
        <div class="card-action">
          <a routerLink="/account">Manage your Accounts</a>
        </div>
      </div>
    </div>

    <div class="col s12 m2">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Actions</span>
        </div>
        <div class="card-action">
          <a routerLink="/account">Transfer</a>
        </div>
      </div>
    </div>

    <div class="col s12 m2">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Profile</span>
        </div>
        <div class="card-action">
          <a routerLink="/account">Settings</a>
        </div>
        <div class="card-action">
          <a routerLink="/account">Contact</a>
        </div>
      </div>
    </div>

  </div>
</div>
