<header>
  <mz-dropdown
    *appShowLoggedIn="true"
    [align]="'left'"
    [belowOrigin]="true"
    [constrainWidth]="true"
    [dropdownButtonId]="'btn-dropdown-demo'"
    [gutter]="true"
    [hover]="true"
    [id]="'dropdown-demo'"
    [inDuration]="300"
    [outDuration]="300"
    [stopPropagation]="true">
    <mz-dropdown-item>
      <a (click)="userService.logout()" routerLink="/">Logout</a>
    </mz-dropdown-item>
  </mz-dropdown>
  <style>

  </style>
  <nav>
    <div class="nav-wrapper">
      <a routerLink="/" class="brand-logo" style="padding-left:20px; color:#80ab86">Nuntius</a>
      <a href="https://www.openbankproject.com" style="padding-left: 150px; text-align: bottom; font-size: 11px; color:white">
        Powered by the Open Bank Project API
      </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a routerLink="/login" routerLinkActive="active" *appShowLoggedIn="false">Login</a>
        </li>
        <li>
          <a *appShowLoggedIn="true" id="btn-dropdown-demo" mz-button>{{currentUser.email}}</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
